
.App {

    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #150f0f;


}

.style1 {
    width: 120px;
    border: 1px solid #1df8dd;
    padding: 10px 10px;
    border-radius: 5px;
}

.style2 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #1df8dd;
     /*color: $a === 5 ? "red": "black";*/
}
.styleRed {
    color: red;
    font-size: 1.5rem;
}

.style3 {
    margin-top: 10px;
    max-width: 400px;
    border: 1px solid #1df8dd;
    padding: 5px 10px;
    border-radius: 5px;

}

button {
    margin-left: 5px;
    cursor: pointer;
    background-color: #1df8dd;
    border-radius: 5px;
    border: none;
}
