* {

    box-sizing: border-box;
}
.App {

    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #b6afaf;



}

.style1 {
    min-height:60px;
    width: 230px;
    border: 1px solid #1df8dd;
    padding: 10px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.style2 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #1df8dd;
     /*color: $a === 5 ? "red": "black";*/
}

.style2-SetCounter {
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;


}
.styleRed {
    color: red;
    font-size: 2.5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    max-width: 400px;
    border: 1px solid #1df8dd;
    padding: 5px 10px;
    border-radius: 5px;

}

.button {



    margin-left: 5px;
    cursor: pointer;
    background-color: #1df8dd;
    border-radius: 5px;
    border: none;

}


button:active {
    background-color: #7ac2b8;


}

.input {
    outline: none;
    width: 100px;
    margin-left: 20px;

    border-radius: 5px;

}
.red {
    background-color: #fd9292;
    border:2px solid red;
}
.red-text{
    color: red;
}